@model Domain.Model.Entities.GroupEntity

@{
    ViewData["Title"] = "Edit";
}

<section class="content-header">
    <h2>Edit</h2>
    <h4>MusicGroupModel</h4>
</section>

<section class="content container-fluid">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="GroupId" />
                <div class="form-group">
                    <label asp-for="GroupName" class="control-label"></label>
                    <input asp-for="GroupName" class="form-control" />
                    <span asp-validation-for="GroupName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MusicalGenre" class="control-label"></label>
                    <input asp-for="MusicalGenre" class="form-control" />
                    <span asp-validation-for="MusicalGenre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Beginnings" class="control-label"></label>
                    <input type="month" asp-for="Beginnings" class="form-control" />
                    <span asp-validation-for="Beginnings" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nation" class="control-label"></label>
                    <input asp-for="Nation" class="form-control" />
                    <span asp-validation-for="Nation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BandMascot" class="control-label"></label>
                    <input asp-for="BandMascot" class="form-control" />
                    <span asp-validation-for="BandMascot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary">
            @Html.ActionLink("Back", "Index")
        </button>
        <partial name="_ValidationScriptsPartial"/>
    </div>
</section>
