
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Cabeçalho</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a  asp-controller="MusicalGroup"  asp-action="Create"><i class="fa fa-link"></i> <span>Create New</span></a></li>
        <li class="active"><a  asp-controller="MusicalGroup" asp-action="Index"><i class="fa fa-link"></i> <span>List</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-link"></i>Autenticação<span></span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                <li><a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a></li>
            </ul>
        </li>
    </ul>